name: SonarQube Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  sonarqube:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run SonarScanner Java
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          java -jar /opt/sonar-scanner/lib/sonar-scanner-cli-5.0.1.3006.jar \
            -Dsonar.projectKey=VideoSemanticCompressed \
            -Dsonar.sources=. \
            -Dsonar.host.url=http://192.168.220.128:9000 \
            -Dsonar.login=$SONAR_TOKEN
